<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Navbar</title>
</head>

<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Generation</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{index}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{aboutus}">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{product}">Product List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{productForm}">Product Form</a>
					</li>

					
					<!-- Login/Logout -->
					<div sec:authorize="isAuthenticated()">
						<form id="logOut" th:action="@{/logout}" method="post">
							<li class="nav-item"><a class="nav-link" onclick="document.getElementById('logOut').submit();">
									LOG OUT </a>
							</li>
						</form>
					</div>

					<div sec:authorize="isAnonymous()">
						<li class="nav-item"><a class="nav-link" th:href="@{login}"> LOG IN </a></li>
					</div>

				</ul>

				


				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</body>

</html>