<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Title</title>
</head>

<body>
    <!-- Grid System for Content -->
    <div th:fragment="content" class="container my-5">
        <div class="row">

            <!-- Column 1 -->
            <div class="col-lg-6">
                <h3><a href="#">Reimaging Global Employment</a></h3>
                <div class="myVideo">
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/cE3JKtTgqJY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

             <!-- Column 2 -->

            <div class="col-lg-3">
                <h3><a href="#">Mission</a></h3>
                <p>At SUSS, we We transform education to employment systems to prepare, place, and support people into
                    life-changing careers that would otherwise be inaccessible.</p>
                <a href="https://www.generation.org/about" class="btn btn-info" target="_blank">Read More</a>
            </div>


            <!-- Column 3 -->
            <div class="col-lg-3">
                <h3><a href="#">Our Impact</a></h3>
                <p>Generation is committed not only to achieving the greatest impact we can, but also to sharing what we
                    are learning and doing.</p>
                <a href="https://www.generation.org/impact" class="btn btn-info" target="_blank">Read More</a>
            </div>
        </div>
    </div>


    <div class="container bottom-margin imgScale">
        <div class="row">

            <!-- Column 1 -->
            <div class="col-lg-3 col-md-6 col-6">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="images/hands.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Go further, together.</h5>
                        <p class="card-text">We are better together. We collaborate with and help others, both inside
                            and outside of Generation.</p>
                    </div>
                </div>
            </div>

            <!-- Column 2 -->
            <div class="col-lg-3 col-md-6 col-6">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="images/puzzle.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Solve problems that matter.</h5>
                        <p class="card-text">We work on activities that do the most to advance our mission, and
                            rigorously measure our impact to guide where we spend our time and resources.</p>
                    </div>
                </div>
            </div>

            <!-- Column 3 -->
            <div class="col-lg-3 col-md-6 col-6">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="images/plant.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Empower & support.</h5>
                        <p class="card-text">We know that people do their best when treated with kindness and respect.
                            We support and develop each other personally and professionally, allowing our unique talents
                            and capabilities to flourish.</p>
                    </div>
                </div>
            </div>

            <!-- Column 4 -->
            <div class="col-lg-3 col-md-6 col-6">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="images/values-chart.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Better our best.</h5>
                        <p class="card-text">We will never be perfect, and we always have more to learn. As long as we
                            use data, experience, and dialogue to grow and improve, we are moving in the right
                            direction.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>